html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	background-image: url(/images/fond.jpg);
}

#partners_right {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 5px;
	background-color: #000000;
	background-image: url(/partenaires/logos/fond_partenaires.gif);
	background-repeat: repeat;
	position: fixed;
	bottom: 0;
	right: 0;
}

#partners_bottom {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	z-index : 15000;
	background-color: #000000;
	background-image: url(/partenaires/logos/fond_partenaires.gif);
	background-repeat: repeat;
	position: fixed;
	bottom: 0;
	right: 5px;
	left: 0;
}

#banniere {
	background-image: url(/images/fond.jpg);
	padding-bottom: 10px;
}

#navbar .divider {
	background-color: #333;
}

#navbar .dropdown-header {
	background: #333;
	color: #9d9d9d;
	font-size: 14px;
}

#tournaments_dropdown .dropdown-menu > li > xa {
	padding-left: 30px;
}

#content {
	padding-left: 15px;
}

/* For medium (md) and large (lg) screens */
@media(min-width: 992px) {
	#content {
		padding-right: 215px;
		padding-bottom: 20px;
	}
}

/* For small (sm) and extra-small (xs) screens */
@media(max-width: 991px) {
	#content {
		padding-right: 15px;
		padding-bottom: 70px;
	}
}

#affiche_carousel {
	height: 500px;
}

#affiche_carousel .right.carousel-control, .left.carousel-control {
  display: none;
}

#affiche_carousel .item_image {
	margin: 0 auto;
}

#actualites_carousel {
	height: 500px;
}

#actualites_carousel .right.carousel-control, .left.carousel-control {
  display: none;
}

#actualites_carousel .item_image {
	margin: 0 auto;
}

/* Classes lié au menu déroulant à plusieurs niveaux */
.dropdown-menu {
    color: #fff;
    background-color: #ffff80;
}

.dropdown-menu>li>a
{
	color: black;
	position: relative;
	background-color: #ffff80;
	background-image: none;
}

.dropdown-menu > li > a:hover
{
	background-color: black;
	color: #fff;
	background-image: none;
}

.dropdown-menu > li > a:after
{
	background-color: white;
	color: #fff;
	background-image: none;
}

/* Affichage de Card -- News */

.card
{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: -10px;
	margin-bottom: +10px;
	background-color: #ffff80;
	margin-top: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	background-clip: padding-box;
	margin-bottom: 0px;
}

.card span.card-title
{
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
}
/* Utilisation pour mettre dans images dans "card news" */
.card .card-image
{
	position: relative;
	overflow: hidden;
}

.card .card-image img
{
	border-radius: 2px 2px 0 0;
	background-clip: padding-box;
	position: relative;
	z-index: 0;
}

.card .card-image span.card-title
{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 16px;
}



.card .card-content
{
	padding: 16px;
	border-radius: 0 0 2px 2px;
	background-clip: padding-box;
	box-sizing: border-box;
}

.card .card-content p
{
	margin: 0;
	color: inherit;
}

.card .card-content span.card-title
{
	line-height: 48px;
}

.card .card-action
{
	border-top: 1px solid rgba(160, 160, 160, 0.2);
	padding: 16px;
}

.card .card-action a
{
	color: # E1B700;
	margin-right: 16px;
	transition: color 0.3s ease;
	text-transform: uppercase;
}

.card .card-action a:hover
{
	color: #ffd8a6;
	text-decoration: none;
}


#myCarousel .carousel-caption
{
	left: 0;
	bottom: 0;
	text-align: left;
	padding: 10px;
	background: rgba(0,0,0,0.6);
	text-shadow: none;
	right: +20px;
	border-radius: +10px;
}

#myCarousel .list-group
{
	position: absolute;
	top: 0;
	border-radius: +10px;
	right: 0;
}

#myCarousel .list-group-item
{
	border-radius: +10px;
	cursor: pointer;
	background-color: #000000;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	font-size: 15px;
	color: #ffffff;
}

#myCarousel .list-group .active
{
	background-color: #eee;
}

@media (min-width: 992px)
{
	#myCarousel
	{
		padding-right: 33.3333%;
		border-radius: 10px;
	}
	#myCarousel .carousel-controls
	{
		display: none;
	}
}

@media (max-width: 991px)
{
	.carousel-caption p,
	#myCarousel .list-group
	{
		display: none;
	}
}


/* Affichage en Module boite */

.box
{
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	background: #000000;
	transition: all 0.2s ease;
	border: 2px;
	margin-top: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	background-clip: padding-box;
	padding: 0 20px 20px 20px;
	min-height: auto;
}

.box span.box-title
{
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
}

.box .box-content
{
	padding: 16px;
	border-radius: 0 0 2px 2px;
	background-clip: padding-box;
	box-sizing: border-box;
}

.box .box-content p
{
	color: #212121;
	text-transform: none;
}

.img-carousel
{
	border-radius: +10px;
}

.carousel
{
	border-radius: +10px;
}

.articlelmr
{
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	border-radius: +10px;
	padding-left: +10px;
}

.td-jaune
{
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	border-radius: +10px;
	background-color: #ffff80;
}

.td-noir
{
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	border-radius: +10px;
	background-color: #000000;
	color: #fff;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)
{
	

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr
	{
		display: block;
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr
	{
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr
	{
		border:none;
	}
	td
	{
		border: none;
		position: relative;

	}
	td:before
	{
		border: none;
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
}
.table-responsive
{
	border:none;
}
.blanc
{
	color: #ffffff;
}

.logo
{
	margin-top: 4%;
}

.page-box-header span {
	width: 80%;
	display: inline-block;
	vertical-align: middle;
	word-wrap: break-word;
}

.texte {
	font-size: 1em;
	font-family: Georgia, Times, "Times New Roman", serif;
	line-height: 140%;

}

.texte p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}   

.img-fondjaune{
	background-color:#ffff80;
}

.boxpage
{

	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	border: 2px groove #000000;
	margin-top: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	background-clip: padding-box;
	padding: 0 20px 20px 20px;
	min-height: 100%;
	width: 100%;
	height: 800%;
	max-height: 100%;
}


.entetepage
{

	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	border: 2px groove #000000;
	color:white;
	background:black;
	margin-top: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	background-clip: padding-box;
	padding: 0 20px 20px 20px;
	min-height: 100%;
	width: 100%;
	height: 800%;
	max-height: 100%;
}

@media(max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: black;
	}
}



.panel-heading {
    padding: 0
}
.panel-heading a {
    display: block;
    padding: 20px 10px;
    background: #ffffff;
    border-radius: 5px;
}

.panel-heading a:after {
    content: '-'
}
.panel-heading a.collapsed:after {
    content: '+'
}
.nav.nav-tabs
{
	border-radius: 10px;

}
.nav.nav-tabs li.active 
{
	border-radius: 10px;
	background: black;
}
.nav.nav-tabs li.active > a:active,
{
	background:#ffff80;
	color:black;
}
.nav.nav-tabs li a,
.nav.nav-tabs li.active > a:hover,
.nav.nav-tabs li.active > a:active,
.nav.nav-tabs li.active > a:focus {
	border-radius: 10px;
    border-bottom-width: 0px;
    outline: none;
    color:white;
    background: black;

}
.nav.nav-tabs li a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.tab-pane {
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: -1px;
}



/* used for sidebar tab/collapse*/
@media (max-width: 991px) {
  .visible-tabs {
    display: none;
  }
}

@media (min-width: 992px) {
  .visible-tabs {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .hidden-tabs {
    display: none !important;
  }
}
