<ul class="event-list">
	<li>
		<time datetime="2014-04-9 2000">
			<span class="day">9</span>
			<span class="month">Avr</span>
			<span class="year">2016</span>
			<span class="time">20:00</span>
		</time>
		<img src="http://lmr29.com/saison_15_16/Festivites/Soiree_Empereur/Affiche_soireefestive_2016_OK.jpg" />
		<div class="info">
			<h2 class="title"><a href="#" target="_self">Titre avec lien</a></h2>
			<p class="desc">Lieu / Description</p>
			<ul>
				<li style="width:50%;">
					<a href="#"><span class="fa fa-globe"></span>Action avec lien</a>
				</li>
			</ul>
		</div>
	</li>
</ul>